streamlit # Or latest version
pandas  # Or latest version
plotly  # Or latest version
networkx  # For network graph generation
folium  # For displaying maps
streamlit-folium  # To integrate Folium with Streamlit
pillow
shapely
geopandas
